*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/esp8266/python/_pycache_/
/android/.gradle
/android//local.properties
/android//.idea/caches
/android//.idea/libraries
/android//.idea/modules.xml
/android//.idea/workspace.xml
/android//.idea/navEditor.xml
/android//.idea/assetWizardSettings.xml
/android/.DS_Store
/android//build
/android//captures
/android/.externalNativeBuild
/android/.cxx
/android/local.properties

/android/.idea
/android/app/build